*,
html {
  margin: 0;
  padding: 0;
}

.container {
}

.container-navbar {
  background-color: black;
  width: 100%;
  height: 100px;
}

.ul-navbar {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.li-navbar {
  list-style-type: none;
  padding: 20px;
  margin: 7px;
  color: white;
  font-size: 30px;
}
.li-navbar:hover {
  background-color: yellow;
  transition: 0.2s ease-in-out;
  transition-delay: 0.3s;
  border-radius: 8px;
}

.a-navbar {
  color: white;
  text-decoration: none;
}
.container-content {
  background-color: navajowhite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.img-content {
  width: 30%;
  height: 30%;
}

.container-footer {
  height: 200px;
  background-color: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1-footer {
  font-size: 40px;
}
